/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color:#edf3f8;
    color: #4682B4;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 500%;
    border-bottom-style: solid;
    border-bottom-color: #778899;
    border-bottom-width: thick;
}

p{
    font-size:200%;
}

#message{
    color: #4682B4;
    box-shadow: inset 2px 5px 8px rgba(0, 0, 0, 0.07);
}
#number{
    color: #4682B4;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.07);
}